/*Universal Reset & Base Styling*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    gap: 20px;
    font-family: Georgia;
    color: black;
}

/*Grid Area Names*/
header{
    grid-area: header;
    background-color: #b6a39e;
}

nav{
    grid-area: nav;
    background-color: #D0D1AC;
}

nav ul {
    list-style-type: disc;
    padding-left: 50px;
}

main{
    grid-area: main;
    color: #FFF8F0;
}

.card1{
    background-color: #726E75;
}

.card2{
    background-color: #948B89;
}

.card3{
    background-color: #948B89;
}

footer{
    grid-area: footer;
    background-color: #B6A39E;
}


.page-wrapper {
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}


/* MAIN CONTENT GRID    */

main{
    display: grid;
    gap: 20px;
}

article{
    padding: 20px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    body{
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }
}

/*Desktop Layout*/

@media (min-width: 768px) {

    body{
        grid-template-columns: 220px 1fr;

        grid-template-areas:
            "header header"
            "nav    main"
            "footer footer";
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .card1 {
        grid-column: 1 / -1;
    }
}